<table class="tx-t3music" >
	<tr>
		<td>
			<f:translate key="tx_t3music_domain_model_album.title" />
		</td>
		<td>
			{album.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3music_domain_model_album.description" />
		</td>
		<td>
			{album.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3music_domain_model_album.year" />
		</td>
		<td>
			{album.year}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3music_domain_model_album.image" />
		</td>
		<td>
			{album.image}
		</td>
	</tr>
</table>