<f:layout name="Default" />

<f:section name="main">
	<div class="albums">
		<f:flashMessages />
	
		<f:for each="{albums}" as="album">
			<div class="album">
				<div class="album-image-container">
					<f:link.action action="show" arguments="{album : album}">
						<f:if condition="{album.image}">
							<f:image src="uploads/tx_t3music/{album.image}" width="150" alt="Album '{album.title}'" class="album-image" />
						</f:if>
					</f:link.action>
				</div>
				<div class="album-text-container">
					<f:link.action action="show" arguments="{album : album}">
						<span class="album-title">{album.title}</span>
						<f:if condition="{album.year}"><span class="album-year"> ({album.year})</span></f:if>
					</f:link.action>
				</div>
			</div>
		</f:for>
	</div>
</f:section>