<f:layout name="Default" />

<f:section name="main">
<div class="album-detail">
	<h1><f:translate key="tx_t3music_domain_model_album" arguments="{1: album.title}" /></h1>
	<div class="album-detail-header">
		<f:if condition="{album.image}">
			<f:image src="{album.image}" width="200" alt="{f:translate(key:'tx_t3music_domain_model_album', arguments: {1: album.title})}" class="album-image" />
		</f:if>
	
		<f:if condition="{album.year}">
			<p class="album-year-container">
				<span class="label"><f:translate key="tx_t3music_domain_model_album.year" />:&nbsp;</span><span class="album-year">{album.year}</span>
			</p>
		</f:if>
	
		<p class="album-description">
			<f:format.html>{album.description}</f:format.html>
		</p>
	</div>
	<div class="album-detail-prices">
		<f:if condition="{album.cdAvailable}">
			<p class="album-price-cd-container">
				<span class="label"><f:translate key="tx_t3music_domain_model_album.price.cd" />:&nbsp;</span><span class="album-price-cd">{settings.album.cd.price}&nbsp;&euro; <f:translate key="tx_t3music_domain_model_album.taxes" /></span>
				<br />				
				<f:form name="buyCD" method="post" controller="Album" action="buy" arguments="{album: album, track: null, type: 'album.cd'}">
					<f:form.submit value="{f:translate(key: 'tx_t3music_domain_model_album.buy.cd')}" />
				</f:form> 
			</p>
		</f:if>
		<f:if condition="{album.downloadAvailable}">
			<p class="album-price-mp3-container">
				<span class="label"><f:translate key="tx_t3music_domain_model_album.price.mp3" />:&nbsp;</span><span class="album-price-mp3">{settings.album.mp3.price}&nbsp;&euro; <f:translate key="tx_t3music_domain_model_album.taxes" /></span>
				<br />				
				<f:form name="buyMP3s" method="post" controller="Album" action="buy" arguments="{album: album, track: null, type: 'album.mp3'}">
					<f:form.submit value="{f:translate(key: 'tx_t3music_domain_model_album.buy.mp3')}" />
				</f:form> 
			</p>
		</f:if>
	</div>
	<div class="album-detail-tracks">
		<h2><f:translate key="tx_t3music_domain_model_album.tracks" /></h2>
		<table class="album-detail-tracks-table" cellspacing="0" cellpadding="0">
			<tr>
				<th>&nbsp;</th>
				<th><f:translate key="tx_t3music_domain_model_track.title" /></th>
				<th><f:translate key="tx_t3music_domain_model_track.length" /></th>
				<f:if condition="{album.downloadAvailable}">
					<th><f:translate key="tx_t3music_domain_model_track.price" /></th>
					<th>&nbsp;</th>
				</f:if>
			</tr>
			<f:for each="{album.tracks}" as="track">
			<tr>
				<td>
					<f:if condition="{track.sampleFile}">
						<a href="{track.sampleFile}" target="track-sample-player">
							<f:image src="typo3conf/ext/t3music/Resources/Private/Icons/play.png" width="32" alt="Play sample '{track.title}'" class="track-sampler" />
						</a>
					</f:if>
				</td>			
				<td>{track.number}&nbsp;{track.title}</td>			
				<td>{track.length}</td>			
				<f:if condition="{album.downloadAvailable}">
					<td>{settings.track.mp3.price}&nbsp;&euro;</td>			
					<td>			
						<f:form name="buyMP3{track.number}" method="post" controller="Album" action="buy" arguments="{album: album, track: track, type: 'track.mp3'}">
							<f:form.submit value="{f:translate(key: 'tx_t3music_domain_model_track.buy.mp3')}" />
						</f:form>
				</td> 
				</f:if>
			</tr>
			</f:for>
		</table>
	</div>
</div>
</f:section>